@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:   'Roboto Mono','Lora', 'Roboto Slab', Arial;
    text-decoration: none;
}

a{
    font-weight: 800;
    color: white;
    text-decoration: underline;
}

p{
    font-size: 1em;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

#intro{
    width: 100%;
    height: 100vh;
    background-color: #0c0c0c;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    z-index: 5;
}

#stars{
    position: absolute;
    width: 95%;
    height: 120vh;
    overflow: hidden;
}

#nadpis{
    position: relative;
    padding: 3%;
    color: white;
    font-size: 10em;
}


#content{
    z-index: 2;
    width: 100%;
    position: relative;
    height: 150vh;
    background-color: #0c0c0c;
}

nav{
    position: absolute;
    z-index: 10;
    top: 6%;
    width: 30%;
    right: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    flex-direction: row;
    text-align: center;
}

nav a{
    padding: 2% 5%;
    font-size: 1em;
    border: solid white 2px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    animation-duration: 0.5s;
    animation-name: prechod;
    animation-fill-mode: forwards;
}

@keyframes prechod {
    to{background-color: white; color: black;}
}

.wavedown, .waveup{
    position: absolute;
    width: 100%;
    z-index: 3;
}

.wavedown{
    top: -1vh;
}

.waveup{
    bottom: -1vh;
}

#aboutus{
    top: 0;
    position: relative;
    background-color: rgb(128, 197, 253);
    width: 100%;
    height: 150vh;
    color:white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

#aboutusAnchor{
    position: relative;
    top: 15%;
}

#aboutusContent{
    position: relative;
    width: 40%;
    top: 30%;
    height: 60vh;
    text-align: center;
}

#aboutusContent h1{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 4.5em;
}


#aboutusImage{
    position: relative;
    width: 20%;
    top: 30%;
    height: 60vh;
}

#aboutusImage svg{
    position: absolute;
    width: 100%;
    height: auto;
}

#elevator{
    fill: white;
    animation: alienElevator 3s linear infinite alternate;
}

@keyframes alienElevator {
    25% {opacity: 0.3; }
    50% {opacity: 0.5; }
    75% {opacity: 0.75;}
    100%{opacity:  1; }
}


#Alien1{
    transform: translateY(20%);
    animation: alien 2s linear infinite alternate;
}

@keyframes alien {
    25% {transform: translateY(15%);}
    50% {transform: translateY(8%);}
    75% {transform: translateY(0%);}
    100%{transform: translateY(-8%);}
}

#hand{
    transform: translateY(5px);
    transform: translateX(5px);
    transform-origin: center;
    transform-box: fill-box;
    animation: handanimation 1s linear infinite alternate;
}

@keyframes handanimation {
    0% {transform: rotateZ(30deg);}
    18% {transform: rotateZ(20deg);}
    36% {transform: rotateZ(10deg);}
    50%{transform: rotateZ(0deg);}
    68% {transform: rotateZ(10deg);}
    86% {transform: rotateZ(20deg);}
    100% {transform: rotateZ(30deg);}
}

/*MEMBERS*/
#members{
    position: relative;
    width: 100%;
    height: 400vh;
    background-color: #0c0c0c;
}

.membersNadpis{
    text-align: center;
    color: white;
    font-size: 4em;
}

/*Dalibor Kralik*/
#daliborkralik{
    margin-top: 10%;
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}

#daliborLeft{
    position: relative;
    background-color: rgb(128, 197, 253);
    box-shadow: 10px 2px 10px 5px #3673A5;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

#daliborLeft img{
    position: absolute;
    height: 95%;
    bottom: 0;
}

#daliborRight{
    position: relative;
    width: 40%;
    height: 100%;
    text-align: center;
    color: white;  
    z-index: 10;
    overflow: hidden;
    font-size: 0.8em;
}

#daliborRight h1{
    padding-bottom: 3%;
    font-size: 3em;
    
}

/*Patrik Sehnoutek*/
#patriksehnoutek{
    position: relative;
    width: 100%;
    height: 180vh;
    background-color: white;
    /*background-color: rgb(128, 197, 253);*/
    /*background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    overflow: hidden;
}



#patriksehnoutekContent{
    position: relative;
    padding-top: 25%;
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#patrikleft{
    text-align: center;
    width: 40%;
    height: 100%;   
}

#patrikleft svg{
    position: relative;
    top:-100px;
    width: 100%;
}

#codeLines{
    animation: lineOpacity infinite alternate ease-in 2s;
}

@keyframes lineOpacity {
    to{opacity: 0.2;}
    
}

#mouse{
    animation: mouseMovement infinite alternate 4s linear;
}

@keyframes mouseMovement {
    to{transform: translateX(100px);}
}
#patrikright h1{  
    padding-bottom: 5%;
    font-size: 2.5em;
}

#patrikright h1 a{
   color: black;
}

#patrikright{
    text-align: center;
    padding: 1%;
    position: relative;
    width: 35%;
    color: black;
    height: 100%;
}
/*Marcel Feiler*/
#marcelfeiler{
    position: relative;
    width: 100%;
    height: 130vh;
}

